In [60]:
import pandas as pd
from pandas import DataFrame
import json

In [61]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to /Users/ganga/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [62]:
data10 = pd.read_json("featured-articles_010.jsonl", lines = True)

In [63]:
data10_firstfive = data10.loc[0,"section_texts"]

In [64]:
def processingtext(text):  
    text = re.sub(r'\\n', '', str(text))
    text = re.sub(r'@\w+', '', text)
    text = re.sub('[^a-zA-Z]', ' ', str(text))
    text = text.lower()
    return text

In [65]:
#data10_firstfive = data10_firstfive.apply(processingtext)

In [66]:
data10_firstparagraph = re.sub(r'\\n', '', str(data10_firstfive[0]))

In [67]:
data10_firstparagraph = re.sub(r'@\w+', '', data10_firstparagraph)

In [68]:
data10_firstparagraph.replace("\n", "")

"Benjamin Mountfort around 1875'''Benjamin Woolfield Mountfort''' (13 March 1825 â€“ 15 March 1898) was an English emigrant to New Zealand, where he became one of that country's most prominent 19th-century architects. He was instrumental in shaping the city of Christchurch's unique architectural identity and culture, and was appointed the first official Provincial Architect of the developing province of Canterbury. Heavily influenced by the Anglo-Catholic philosophy behind early Victorian architecture, he is credited with importing the Gothic revival style to New Zealand. His Gothic designs constructed in both wood and stone in the province are considered unique to New Zealand. Today, he is considered the founding architect of the province of Canterbury."

In [69]:
data10_firstparagraph = re.sub('[^a-zA-Z]', ' ', data10_firstparagraph)

In [70]:
data10_firstparagraph = data10_firstparagraph.lower()

In [71]:
data10_firstparagraph.replace("  ", "")

' benjamin mountfort aroundbenjamin woolfield mountfortmarch march was an english emigrant to new zealandwhere he became one of that country s most prominent th century architectshe was instrumental in shaping the city of christchurch s unique architectural identity and cultureand was appointed the first official provincial architect of the developing province of canterburyheavily influenced by the anglo catholic philosophy behind early victorian architecturehe is credited with importing the gothic revival style to new zealandhis gothic designs constructed in both wood and stone in the province are considered unique to new zealandtodayhe is considered the founding architect of the province of canterbury'

In [72]:
from nltk.tokenize import word_tokenize

In [73]:
tokens = word_tokenize(data10_firstparagraph)

In [74]:
pos = []

for token in tokens:
    pos.append(nltk.pos_tag([token]))
pos

[[('benjamin', 'NN')],
 [('mountfort', 'NN')],
 [('around', 'IN')],
 [('benjamin', 'NN')],
 [('woolfield', 'NN')],
 [('mountfort', 'NN')],
 [('march', 'NN')],
 [('march', 'NN')],
 [('was', 'VBD')],
 [('an', 'DT')],
 [('english', 'JJ')],
 [('emigrant', 'NN')],
 [('to', 'TO')],
 [('new', 'JJ')],
 [('zealand', 'NN')],
 [('where', 'WRB')],
 [('he', 'PRP')],
 [('became', 'VBD')],
 [('one', 'CD')],
 [('of', 'IN')],
 [('that', 'IN')],
 [('country', 'NN')],
 [('s', 'NN')],
 [('most', 'JJS')],
 [('prominent', 'NN')],
 [('th', 'NN')],
 [('century', 'NN')],
 [('architects', 'NNS')],
 [('he', 'PRP')],
 [('was', 'VBD')],
 [('instrumental', 'JJ')],
 [('in', 'IN')],
 [('shaping', 'VBG')],
 [('the', 'DT')],
 [('city', 'NN')],
 [('of', 'IN')],
 [('christchurch', 'NN')],
 [('s', 'NN')],
 [('unique', 'NN')],
 [('architectural', 'JJ')],
 [('identity', 'NN')],
 [('and', 'CC')],
 [('culture', 'NN')],
 [('and', 'CC')],
 [('was', 'VBD')],
 [('appointed', 'VBN')],
 [('the', 'DT')],
 [('first', 'RB')],
 [('official', 'NN')],
 [('provincial', 'NN')],
 [('architect', 'NN')],
 [('of', 'IN')],
 [('the', 'DT')],
 [('developing', 'VBG')],
 [('province', 'NN')],
 [('of', 'IN')],
 [('canterbury', 'NN')],
 [('heavily', 'RB')],
 [('influenced', 'VBN')],
 [('by', 'IN')],
 [('the', 'DT')],
 [('anglo', 'NN')],
 [('catholic', 'NN')],
 [('philosophy', 'NN')],
 [('behind', 'IN')],
 [('early', 'RB')],
 [('victorian', 'JJ')],
 [('architecture', 'NN')],
 [('he', 'PRP')],
 [('is', 'VBZ')],
 [('credited', 'VBN')],
 [('with', 'IN')],
 [('importing', 'VBG')],
 [('the', 'DT')],
 [('gothic', 'JJ')],
 [('revival', 'NN')],
 [('style', 'NN')],
 [('to', 'TO')],
 [('new', 'JJ')],
 [('zealand', 'NN')],
 [('his', 'PRP$')],
 [('gothic', 'JJ')],
 [('designs', 'NNS')],
 [('constructed', 'VBN')],
 [('in', 'IN')],
 [('both', 'DT')],
 [('wood', 'NN')],
 [('and', 'CC')],
 [('stone', 'NN')],
 [('in', 'IN')],
 [('the', 'DT')],
 [('province', 'NN')],
 [('are', 'VBP')],
 [('considered', 'VBN')],
 [('unique', 'NN')],
 [('to', 'TO')],
 [('new', 'JJ')],
 [('zealand', 'NN')],
 [('today', 'NN')],
 [('he', 'PRP')],
 [('is', 'VBZ')],
 [('considered', 'VBN')],
 [('the', 'DT')],
 [('founding', 'VBG')],
 [('architect', 'NN')],
 [('of', 'IN')],
 [('the', 'DT')],
 [('province', 'NN')],
 [('of', 'IN')],
 [('canterbury', 'NN')]]

In [75]:
pos = []

for token in tokens:
    for i,v in nltk.pos_tag([token]):
        if v == 'NN':
            pos.append(nltk.pos_tag([token]))
pos

[[('benjamin', 'NN')],
 [('mountfort', 'NN')],
 [('benjamin', 'NN')],
 [('woolfield', 'NN')],
 [('mountfort', 'NN')],
 [('march', 'NN')],
 [('march', 'NN')],
 [('emigrant', 'NN')],
 [('zealand', 'NN')],
 [('country', 'NN')],
 [('s', 'NN')],
 [('prominent', 'NN')],
 [('th', 'NN')],
 [('century', 'NN')],
 [('city', 'NN')],
 [('christchurch', 'NN')],
 [('s', 'NN')],
 [('unique', 'NN')],
 [('identity', 'NN')],
 [('culture', 'NN')],
 [('official', 'NN')],
 [('provincial', 'NN')],
 [('architect', 'NN')],
 [('province', 'NN')],
 [('canterbury', 'NN')],
 [('anglo', 'NN')],
 [('catholic', 'NN')],
 [('philosophy', 'NN')],
 [('architecture', 'NN')],
 [('revival', 'NN')],
 [('style', 'NN')],
 [('zealand', 'NN')],
 [('wood', 'NN')],
 [('stone', 'NN')],
 [('province', 'NN')],
 [('unique', 'NN')],
 [('zealand', 'NN')],
 [('today', 'NN')],
 [('architect', 'NN')],
 [('province', 'NN')],
 [('canterbury', 'NN')]]

In [76]:
pos = []

for token in tokens:
    for i,v in nltk.pos_tag([token]):
        if v == 'VBZ':
            pos.append(nltk.pos_tag([token]))
        if v == 'VBD':
            pos.append(nltk.pos_tag([token]))
pos

[[('was', 'VBD')],
 [('became', 'VBD')],
 [('was', 'VBD')],
 [('was', 'VBD')],
 [('is', 'VBZ')],
 [('is', 'VBZ')]]

In [77]:
data10["section_texts"] = data10["section_texts"].apply(processingtext)

In [78]:
x10 = data10["section_texts"].str.cat(sep = " ")

In [79]:
tokens = word_tokenize(x10)

In [81]:
import re
from nltk.util import ngrams
from collections import Counter
import numpy as np

bigrams_logfreq = []
bigrams_lst = []
bigrams_count = []
Exercise 5.2 
bigrams = ngrams(tokens,2)
bigrams_freq = Counter(bigrams)
for i,v in bigrams_freq.items():
    bigrams_logfreq.append(np.log(v/len(bigrams_freq)))
    bigrams_lst.append(i)
    bigrams_count.append(v)

Bigrams_dataframe =  pd.DataFrame(list(zip(bigrams_lst, bigrams_count, bigrams_logfreq)),
                     columns=['Bigrams','Count', 'Log Frequency'])

Bigrams_dataframe.head()

                  Bigrams  Count  Log Frequency
0   (benjamin, mountfort)      6     -11.204691
1     (mountfort, around)      1     -12.996451
2      (around, benjamin)      1     -12.996451
3   (benjamin, woolfield)      1     -12.996451
4  (woolfield, mountfort)      1     -12.996451

In [83]:
import re
from nltk.util import ngrams
from collections import Counter
import numpy as np

trigrams_logfreq = []
trigrams_lst = []
trigrams_count = []

trigrams = ngrams(tokens,3)
trigrams_freq = Counter(trigrams)
for i,v in trigrams_freq.items():
    trigrams_logfreq.append(np.log(v/len(trigrams_freq)))
    trigrams_lst.append(i)
    trigrams_count.append(v)

Trigrams_dataframe =  pd.DataFrame(list(zip(trigrams_lst, trigrams_count, trigrams_logfreq)),
                     columns=['Trigrams','Count', 'Log Frequency'])

Trigrams_dataframe.head()

                           Trigrams  Count  Log Frequency
0     (benjamin, mountfort, around)      1     -13.604318
1     (mountfort, around, benjamin)      1     -13.604318
2     (around, benjamin, woolfield)      1     -13.604318
3  (benjamin, woolfield, mountfort)      1     -13.604318
4     (woolfield, mountfort, march)      1     -13.604318

In [87]:
from nltk.corpus import stopwords 

stop_words = set(stopwords.words('english'))

filtered_sentence = [] 
  
for w in tokens: 
    if w not in stop_words: 
        filtered_sentence.append(w)

In [88]:
bigrams_logfreq = []
bigrams_lst = []
bigrams_count = []

bigrams = ngrams(filtered_sentence,2)
bigrams_freq = Counter(bigrams)
for i,v in bigrams_freq.items():
    bigrams_logfreq.append(np.log(v/len(bigrams_freq)))
    bigrams_lst.append(i)
    bigrams_count.append(v)

Bigrams_dataframe =  pd.DataFrame(list(zip(bigrams_lst, bigrams_count, bigrams_logfreq)),
                     columns=['Bigrams','Count', 'Log Frequency'])

Bigrams_dataframe.head()

                  Bigrams  Count  Log Frequency
0   (benjamin, mountfort)      6     -11.256488
1     (mountfort, around)      1     -13.048247
2      (around, benjamin)      1     -13.048247
3   (benjamin, woolfield)      1     -13.048247
4  (woolfield, mountfort)      1     -13.048247

In [89]:
trigrams_logfreq = []
trigrams_lst = []
trigrams_count = []

trigrams = ngrams(filtered_sentence,3)
trigrams_freq = Counter(trigrams)
for i,v in trigrams_freq.items():
    trigrams_logfreq.append(np.log(v/len(trigrams_freq)))
    trigrams_lst.append(i)
    trigrams_count.append(v)

Trigrams_dataframe =  pd.DataFrame(list(zip(trigrams_lst, trigrams_count, trigrams_logfreq)),
                     columns=['Trigrams','Count', 'Log Frequency'])

Trigrams_dataframe.head()

                           Trigrams  Count  Log Frequency
0     (benjamin, mountfort, around)      1     -13.234811
1     (mountfort, around, benjamin)      1     -13.234811
2     (around, benjamin, woolfield)      1     -13.234811
3  (benjamin, woolfield, mountfort)      1     -13.234811
4     (woolfield, mountfort, march)      1     -13.234811

In [93]:
quadgrams_logfreq = []
quadgrams_lst = []
quadgrams_count = []

quadgrams = ngrams(filtered_sentence,4)
quadgrams_freq = Counter(quadgrams)
for i,v in quadgrams_freq.items():
    quadgrams_logfreq.append(np.log(v/len(trigrams_freq)))
    quadgrams_lst.append(i)
    quadgrams_count.append(v)

quadgrams_dataframe =  pd.DataFrame(list(zip(quadgrams_lst, quadgrams_count, quadgrams_logfreq)),
                     columns=['Quadgrams','Count', 'Log Frequency'])

quadgrams_dataframe.head()

                                  Quadgrams  Count  Log Frequency
0   (benjamin, mountfort, around, benjamin)      1     -13.234811
1  (mountfort, around, benjamin, woolfield)      1     -13.234811
2  (around, benjamin, woolfield, mountfort)      1     -13.234811
3   (benjamin, woolfield, mountfort, march)      1     -13.234811
4      (woolfield, mountfort, march, march)      1     -13.234811

In [94]:
quadgrams_dataframe.sort_values(by=['Log Frequency']).head(20)

                                          Quadgrams  Count  Log Frequency
0           (benjamin, mountfort, around, benjamin)      1     -13.234811
383562              (monti, port, authority, chief)      1     -13.234811
383561               (rino, monti, port, authority)      1     -13.234811
383560               (authority, rino, monti, port)      1     -13.234811
383559               (port, authority, rino, monti)      1     -13.234811
383558          (department, port, authority, rino)      1     -13.234811
383557         (trade, department, port, authority)      1     -13.234811
383556             (world, trade, department, port)      1     -13.234811
383555         (director, world, trade, department)      1     -13.234811
383554            (tozzoli, director, world, trade)      1     -13.234811
383553                (f, tozzoli, director, world)      1     -13.234811
383552                  (guy, f, tozzoli, director)      1     -13.234811
383551                   (project, guy, f, tozzoli)      1     -13.234811
383550                    (center, project, guy, f)      1     -13.234811
383549                (trade, center, project, guy)      1     -13.234811
383548           (contractor, world, trade, center)      1     -13.234811
383547          (general, contractor, world, trade)      1     -13.234811
383546        (company, general, contractor, world)      1     -13.234811
383532  (loring, associates, electrical, engineers)      1     -13.234811
383533   (associates, electrical, engineers, jaros)      1     -13.234811