In [4]:
# Importing the libraries

import pandas as pd
from pandas import DataFrame
import json

In [2]:
# Importing the nltk library and stop words

import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to /Users/ganga/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
# Exporting the json wikipedia file

data10 = pd.read_json("featured-articles_010.jsonl", lines = True)
data10.head()

,interlinks,section_texts,section_titles,title
0,"{'Christchurch': 'Christchurch', 'Canterbury, ...",[\n\n\nBenjamin Mountfort around 1875\n\n'''Be...,"[Introduction, Early life, New Zealand, Return...",Benjamin Mountfort
1,"{'abstract art': 'abstract', 'the Blitz': 'the...",[\n\n\n\n\n'''Henry Spencer Moore''' (30 July...,"[Introduction, Life, Style, Legacy, Collection...",Henry Moore
2,"{'shrub': 'shrub', 'Banksia': 'Banksia', 'Prot...",[\n\n\nThe '''hairpin banksia''' (''Banksia sp...,"[Introduction, Description, Taxonomy, Distribu...",Banksia spinulosa
3,"{'shrub': 'shrub', 'Proteaceae': 'Proteaceae',...","[\n\n\n\n\n\n'''''Banksia aemula''''', commonl...","[Introduction, Description, Taxonomy, Distribu...",Banksia aemula
4,"{'Noongar': 'Noongar', 'species': 'species', '...","[\n\n\n\n'''''Banksia attenuata''''', commonly...","[Introduction, Description, Taxonomy, Distribu...",Banksia attenuata

In [ ]:
# A

In [8]:
# Extract first paragraph from section_texts

data10_firstfive = data10.loc[0,"section_texts"]

In [9]:
# Method to preprocess the data

def processingtext(text):  
    text = re.sub(r'\\n', '', str(text))
    text = re.sub(r'@\w+', '', text)
    text = re.sub('[^a-zA-Z]', ' ', str(text))
    text = text.lower()
    return text

In [10]:
# Taking out the new line characters

data10_firstparagraph = re.sub(r'\\n', '', str(data10_firstfive[0]))

In [11]:
data10_firstparagraph = re.sub(r'@\w+', '', data10_firstparagraph)

In [12]:
# Replacing the new line character with space

data10_firstparagraph.replace("\n", "")

"Benjamin Mountfort around 1875'''Benjamin Woolfield Mountfort''' (13 March 1825 â€“ 15 March 1898) was an English emigrant to New Zealand, where he became one of that country's most prominent 19th-century architects. He was instrumental in shaping the city of Christchurch's unique architectural identity and culture, and was appointed the first official Provincial Architect of the developing province of Canterbury. Heavily influenced by the Anglo-Catholic philosophy behind early Victorian architecture, he is credited with importing the Gothic revival style to New Zealand. His Gothic designs constructed in both wood and stone in the province are considered unique to New Zealand. Today, he is considered the founding architect of the province of Canterbury."

In [14]:
# Extracting all the information except the characters

data10_firstparagraph = re.sub('[^a-zA-Z]', ' ', data10_firstparagraph)

In [15]:
# Converting the letters to lower case

data10_firstparagraph = data10_firstparagraph.lower()

In [16]:
# Replacing the double space with a songle space

data10_firstparagraph.replace("  ", "")

' benjamin mountfort aroundbenjamin woolfield mountfortmarch march was an english emigrant to new zealandwhere he became one of that country s most prominent th century architectshe was instrumental in shaping the city of christchurch s unique architectural identity and cultureand was appointed the first official provincial architect of the developing province of canterburyheavily influenced by the anglo catholic philosophy behind early victorian architecturehe is credited with importing the gothic revival style to new zealandhis gothic designs constructed in both wood and stone in the province are considered unique to new zealandtodayhe is considered the founding architect of the province of canterbury'

In [17]:
# Importing the tokenize function from nltk

from nltk.tokenize import word_tokenize

In [18]:
# Tokenize the first paragraph

tokens = word_tokenize(data10_firstparagraph)

In [19]:
# Tagging the parts of speech

pos = []

for token in tokens:
    pos.append(nltk.pos_tag([token]))
pos

[[('benjamin', 'NN')],
 [('mountfort', 'NN')],
 [('around', 'IN')],
 [('benjamin', 'NN')],
 [('woolfield', 'NN')],
 [('mountfort', 'NN')],
 [('march', 'NN')],
 [('march', 'NN')],
 [('was', 'VBD')],
 [('an', 'DT')],
 [('english', 'JJ')],
 [('emigrant', 'NN')],
 [('to', 'TO')],
 [('new', 'JJ')],
 [('zealand', 'NN')],
 [('where', 'WRB')],
 [('he', 'PRP')],
 [('became', 'VBD')],
 [('one', 'CD')],
 [('of', 'IN')],
 [('that', 'IN')],
 [('country', 'NN')],
 [('s', 'NN')],
 [('most', 'JJS')],
 [('prominent', 'NN')],
 [('th', 'NN')],
 [('century', 'NN')],
 [('architects', 'NNS')],
 [('he', 'PRP')],
 [('was', 'VBD')],
 [('instrumental', 'JJ')],
 [('in', 'IN')],
 [('shaping', 'VBG')],
 [('the', 'DT')],
 [('city', 'NN')],
 [('of', 'IN')],
 [('christchurch', 'NN')],
 [('s', 'NN')],
 [('unique', 'NN')],
 [('architectural', 'JJ')],
 [('identity', 'NN')],
 [('and', 'CC')],
 [('culture', 'NN')],
 [('and', 'CC')],
 [('was', 'VBD')],
 [('appointed', 'VBN')],
 [('the', 'DT')],
 [('first', 'RB')],
 [('official', 'NN')],
 [('provincial', 'NN')],
 [('architect', 'NN')],
 [('of', 'IN')],
 [('the', 'DT')],
 [('developing', 'VBG')],
 [('province', 'NN')],
 [('of', 'IN')],
 [('canterbury', 'NN')],
 [('heavily', 'RB')],
 [('influenced', 'VBN')],
 [('by', 'IN')],
 [('the', 'DT')],
 [('anglo', 'NN')],
 [('catholic', 'NN')],
 [('philosophy', 'NN')],
 [('behind', 'IN')],
 [('early', 'RB')],
 [('victorian', 'JJ')],
 [('architecture', 'NN')],
 [('he', 'PRP')],
 [('is', 'VBZ')],
 [('credited', 'VBN')],
 [('with', 'IN')],
 [('importing', 'VBG')],
 [('the', 'DT')],
 [('gothic', 'JJ')],
 [('revival', 'NN')],
 [('style', 'NN')],
 [('to', 'TO')],
 [('new', 'JJ')],
 [('zealand', 'NN')],
 [('his', 'PRP$')],
 [('gothic', 'JJ')],
 [('designs', 'NNS')],
 [('constructed', 'VBN')],
 [('in', 'IN')],
 [('both', 'DT')],
 [('wood', 'NN')],
 [('and', 'CC')],
 [('stone', 'NN')],
 [('in', 'IN')],
 [('the', 'DT')],
 [('province', 'NN')],
 [('are', 'VBP')],
 [('considered', 'VBN')],
 [('unique', 'NN')],
 [('to', 'TO')],
 [('new', 'JJ')],
 [('zealand', 'NN')],
 [('today', 'NN')],
 [('he', 'PRP')],
 [('is', 'VBZ')],
 [('considered', 'VBN')],
 [('the', 'DT')],
 [('founding', 'VBG')],
 [('architect', 'NN')],
 [('of', 'IN')],
 [('the', 'DT')],
 [('province', 'NN')],
 [('of', 'IN')],
 [('canterbury', 'NN')]]

In [75]:
# Tagging only nouns

pos = []

for token in tokens:
    for i,v in nltk.pos_tag([token]):
        if v == 'NN':
            pos.append(nltk.pos_tag([token]))
pos

[[('benjamin', 'NN')],
 [('mountfort', 'NN')],
 [('benjamin', 'NN')],
 [('woolfield', 'NN')],
 [('mountfort', 'NN')],
 [('march', 'NN')],
 [('march', 'NN')],
 [('emigrant', 'NN')],
 [('zealand', 'NN')],
 [('country', 'NN')],
 [('s', 'NN')],
 [('prominent', 'NN')],
 [('th', 'NN')],
 [('century', 'NN')],
 [('city', 'NN')],
 [('christchurch', 'NN')],
 [('s', 'NN')],
 [('unique', 'NN')],
 [('identity', 'NN')],
 [('culture', 'NN')],
 [('official', 'NN')],
 [('provincial', 'NN')],
 [('architect', 'NN')],
 [('province', 'NN')],
 [('canterbury', 'NN')],
 [('anglo', 'NN')],
 [('catholic', 'NN')],
 [('philosophy', 'NN')],
 [('architecture', 'NN')],
 [('revival', 'NN')],
 [('style', 'NN')],
 [('zealand', 'NN')],
 [('wood', 'NN')],
 [('stone', 'NN')],
 [('province', 'NN')],
 [('unique', 'NN')],
 [('zealand', 'NN')],
 [('today', 'NN')],
 [('architect', 'NN')],
 [('province', 'NN')],
 [('canterbury', 'NN')]]

In [40]:
# Nouns and Verbs

In [20]:
# Tagging the verbs

pos = []

for token in tokens:
    for i,v in nltk.pos_tag([token]):
        if v == 'VBZ':
            pos.append(nltk.pos_tag([token]))
        if v == 'VBD':
            pos.append(nltk.pos_tag([token]))
pos

[[('was', 'VBD')],
 [('became', 'VBD')],
 [('was', 'VBD')],
 [('was', 'VBD')],
 [('is', 'VBZ')],
 [('is', 'VBZ')]]

In [ ]:
# 3. Ngrams from a dataset

In [ ]:
# Extracting all the columns individually, preprocessing the text and finally making a single string from all the columns

In [21]:
data10["section_texts"] = data10["section_texts"].apply(processingtext)

In [22]:
data10["interlinks"] = data10["interlinks"].apply(processingtext)

In [23]:
data10["section_titles"] = data10["section_titles"].apply(processingtext)

In [24]:
data10["title"] = data10["title"].apply(processingtext)

In [25]:
x10 = data10["section_texts"].str.cat(sep = " ")

In [26]:
x10_interlinks = data10["interlinks"].str.cat(sep = " ")

In [27]:
x10_sectitles = data10["section_titles"].str.cat(sep = " ")

In [28]:
x10_title = data10["title"].str.cat(sep = " ")

In [29]:
# Joining and making single combined string

ls = [x10, x10_interlinks, x10_sectitles, x10_title]

x10_data = " ".join(ls)

In [30]:
# Tokenize all the columns into a single string

tokens = word_tokenize(x10_data)

In [ ]:
# 2 A

In [31]:
# Function to extract bigrams followed by count and log frequency

import re
from nltk.util import ngrams
from collections import Counter
import numpy as np

bigrams_logfreq = []
bigrams_lst = []
bigrams_count = []
bigrams = ngrams(tokens,2)
bigrams_freq = Counter(bigrams)
for i,v in bigrams_freq.items():
    bigrams_logfreq.append(np.log(v/len(bigrams_freq)))
    bigrams_lst.append(i)
    bigrams_count.append(v)

Bigrams_dataframe =  pd.DataFrame(list(zip(bigrams_lst, bigrams_count, bigrams_logfreq)),
                     columns=['Bigrams','Count', 'Log Frequency'])

Bigrams_dataframe.head()

                  Bigrams  Count  Log Frequency
0   (benjamin, mountfort)      7     -11.182966
1     (mountfort, around)      1     -13.128876
2      (around, benjamin)      1     -13.128876
3   (benjamin, woolfield)      1     -13.128876
4  (woolfield, mountfort)      1     -13.128876

In [32]:
# Function to extract trigrams followed by count and log frequency

import re
from nltk.util import ngrams
from collections import Counter
import numpy as np

trigrams_logfreq = []
trigrams_lst = []
trigrams_count = []

trigrams = ngrams(tokens,3)
trigrams_freq = Counter(trigrams)
for i,v in trigrams_freq.items():
    trigrams_logfreq.append(np.log(v/len(trigrams_freq)))
    trigrams_lst.append(i)
    trigrams_count.append(v)

Trigrams_dataframe =  pd.DataFrame(list(zip(trigrams_lst, trigrams_count, trigrams_logfreq)),
                     columns=['Trigrams','Count', 'Log Frequency'])

Trigrams_dataframe.head()

                           Trigrams  Count  Log Frequency
0     (benjamin, mountfort, around)      1     -13.729689
1     (mountfort, around, benjamin)      1     -13.729689
2     (around, benjamin, woolfield)      1     -13.729689
3  (benjamin, woolfield, mountfort)      1     -13.729689
4     (woolfield, mountfort, march)      1     -13.729689

In [ ]:
# 2 B

In [34]:
# Function to remove stop words

from nltk.corpus import stopwords 

stop_words = set(stopwords.words('english'))

filtered_sentence = [] 
  
for w in tokens: 
    if w not in stop_words: 
        filtered_sentence.append(w)

In [35]:
# Function to extract bigrams followed by count and log frequency

bigrams_logfreq = []
bigrams_lst = []
bigrams_count = []

bigrams = ngrams(filtered_sentence,2)
bigrams_freq = Counter(bigrams)
for i,v in bigrams_freq.items():
    bigrams_logfreq.append(np.log(v/len(bigrams_freq)))
    bigrams_lst.append(i)
    bigrams_count.append(v)

Bigrams_dataframe =  pd.DataFrame(list(zip(bigrams_lst, bigrams_count, bigrams_logfreq)),
                     columns=['Bigrams','Count', 'Log Frequency'])

Bigrams_dataframe.head()

                  Bigrams  Count  Log Frequency
0   (benjamin, mountfort)      7     -11.222558
1     (mountfort, around)      1     -13.168468
2      (around, benjamin)      1     -13.168468
3   (benjamin, woolfield)      1     -13.168468
4  (woolfield, mountfort)      1     -13.168468

In [36]:
# Function to extract bigrams followed by count and log frequency

trigrams_logfreq = []
trigrams_lst = []
trigrams_count = []

trigrams = ngrams(filtered_sentence,3)
trigrams_freq = Counter(trigrams)
for i,v in trigrams_freq.items():
    trigrams_logfreq.append(np.log(v/len(trigrams_freq)))
    trigrams_lst.append(i)
    trigrams_count.append(v)

Trigrams_dataframe =  pd.DataFrame(list(zip(trigrams_lst, trigrams_count, trigrams_logfreq)),
                     columns=['Trigrams','Count', 'Log Frequency'])

Trigrams_dataframe.head()

                           Trigrams  Count  Log Frequency
0     (benjamin, mountfort, around)      1     -13.403545
1     (mountfort, around, benjamin)      1     -13.403545
2     (around, benjamin, woolfield)      1     -13.403545
3  (benjamin, woolfield, mountfort)      1     -13.403545
4     (woolfield, mountfort, march)      1     -13.403545

In [41]:
# 2 C

In [42]:
# Function to extract quadgrams followed by count and log frequency

quadgrams_logfreq = []
quadgrams_lst = []
quadgrams_count = []

quadgrams = ngrams(filtered_sentence,4)
quadgrams_freq = Counter(quadgrams)
for i,v in quadgrams_freq.items():
    quadgrams_logfreq.append(np.log(v/len(trigrams_freq)))
    quadgrams_lst.append(i)
    quadgrams_count.append(v)

quadgrams_dataframe =  pd.DataFrame(list(zip(quadgrams_lst, quadgrams_count, quadgrams_logfreq)),
                     columns=['Quadgrams','Count', 'Log Frequency'])

quadgrams_dataframe.head()

                                  Quadgrams  Count  Log Frequency
0   (benjamin, mountfort, around, benjamin)      1     -13.403545
1  (mountfort, around, benjamin, woolfield)      1     -13.403545
2  (around, benjamin, woolfield, mountfort)      1     -13.403545
3   (benjamin, woolfield, mountfort, march)      1     -13.403545
4      (woolfield, mountfort, march, march)      1     -13.403545

In [39]:
# Displaying top 20 quadgrams

quadgrams_dataframe.sort_values(by=['Log Frequency']).head(20)

                                            Quadgrams  Count  Log Frequency
0             (benjamin, mountfort, around, benjamin)      1     -13.403545
461086           (band, thunderstorm, activity, near)      1     -13.403545
461087        (thunderstorm, activity, near, equator)      1     -13.403545
461088            (activity, near, equator, referred)      1     -13.403545
461089       (near, equator, referred, intertropical)      1     -13.403545
461090      (equator, referred, intertropical, front)      1     -13.403545
461091          (referred, intertropical, front, itf)      1     -13.403545
461092     (intertropical, front, itf, intertropical)      1     -13.403545
461093       (front, itf, intertropical, convergence)      1     -13.403545
461094        (itf, intertropical, convergence, zone)      1     -13.403545
461095             (convergence, zone, itcz, monsoon)      1     -13.403545
461096                  (zone, itcz, monsoon, trough)      1     -13.403545
461097               (itcz, monsoon, trough, another)      1     -13.403545
461098          (monsoon, trough, another, important)      1     -13.403545
461099           (trough, another, important, source)      1     -13.403545
461100      (another, important, source, atmospheric)      1     -13.403545
461101  (important, source, atmospheric, instability)      1     -13.403545
461102      (source, atmospheric, instability, found)      1     -13.403545
461085      (worldwide, band, thunderstorm, activity)      1     -13.403545
461103    (atmospheric, instability, found, tropical)      1     -13.403545