In [1]:
# Importing the libraries

import pandas as pd
from pandas import DataFrame
import json

In [2]:
# Load the file 15

data15 = pd.read_json("featured-articles_015.jsonl", lines = True)

In [3]:
data15.head()

,interlinks,section_texts,section_titles,title
0,"{'physician': 'physician', 'no contest': 'no c...",[\n\n'''Debora Green''' (née '''Jones'''; born...,"[Introduction, Early life and medical training...",Debora Green
1,{'Ohio General Assembly': 'Ohio General Assemb...,"[\nOn January 12, 1898, the Ohio General Assem...","[Introduction, Background and appointment of H...","United States Senate election in Ohio, 1898"
2,"{'nature reserve': 'nature reserve', 'North Se...",[\n'''Cley Marshes''' is a nature reserve on ...,"[Introduction, History, Access and facilities,...",Cley Marshes
3,"{'Indonesian name': 'Indonesian name', 'family...",[\n\n:''This is an Indonesian name; it does no...,"[Introduction, Early life, Xaverius College, P...",Albertus Soegijapranata
4,"{'Kyai': 'Kyai', 'Hajji': 'Hajji', 'Masyumi Pa...",[\n\n\n\n\nKyai Hajji '''Fakih Usman''' (also ...,"[Introduction, Early life, Work with the Muham...",Fakih Usman

In [90]:
# Importing the libraries

import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to /Users/ganga/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [91]:
# Method to clean and pre process the data

def processingtext(text):
    
    text = re.sub(r'\\n', '', str(text))
    text = re.sub(r'@\w+', '', text)
    text = text.lower()
    text = re.sub('[^a-zA-Z]', ' ', str(text))
    text = text.split()
    ps = PorterStemmer()
    text = [ps.stem(word) for word in text if not word in set(stopwords.words('english'))]
    text = " ".join(text)
    return text

In [92]:
# Cleaning the data file 15

data15["section_texts"] = data15["section_texts"].apply(processingtext)

In [93]:
# Importing the data file 14

data14 = pd.read_json("featured-articles_014.jsonl", lines = True)

In [94]:
# Cleaning the data file 14

data14["section_texts"] = data14["section_texts"].apply(processingtext)

In [95]:
# Importing the data file 13

data13 = pd.read_json("featured-articles_013.jsonl", lines = True)

In [96]:
# Cleaning the data file 13

data13["section_texts"] = data13["section_texts"].apply(processingtext)

In [97]:
# Importing the data file 12

data12 = pd.read_json("featured-articles_012.jsonl", lines = True)

In [98]:
# Cleaning the data file 12

data12["section_texts"] = data12["section_texts"].apply(processingtext)

In [99]:
# Importing the data file 11

data11 = pd.read_json("featured-articles_011.jsonl", lines = True)

In [100]:
# Cleaning the data file 11

data11["section_texts"] = data12["section_texts"].apply(processingtext)

In [133]:
# Converting the pandas series into strings for all the five dataframes


x11 = data11["section_texts"].str.cat(sep = " ")
x12 = data12["section_texts"].str.cat(sep = " ")
x13 = data13["section_texts"].str.cat(sep = " ")
x14 = data14["section_texts"].str.cat(sep = " ")
x15 = data15["section_texts"].str.cat(sep = " ")

In [139]:
# Importing the libraries

from sklearn.metrics import jaccard_similarity_score

In [141]:
# Method to calculate jaccard distance

def get_jaccard_sim(str1, str2): 
    a = set(str1.split()) 
    b = set(str2.split())
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

In [142]:
# Calculate Jaccard Distance

Similarity11_12 = get_jaccard_sim(x11, x12)
Similarity11_12

0.9420195084736527

In [144]:
# Calculate Jaccard Distance

Similarity11_13 = get_jaccard_sim(x11, x13)
Similarity11_13

0.3218490887143055

In [145]:
# Calculate Jaccard Distance

Similarity11_14 = get_jaccard_sim(x11, x14)
Similarity11_14

0.32259344496468534

In [146]:
# Calculate Jaccard Distance

Similarity11_15 = get_jaccard_sim(x11, x15)
Similarity11_15

0.30884105008011176

In [147]:
# Calculate Jaccard Distance

Similarity12_13 = get_jaccard_sim(x12, x13)
Similarity12_13

0.3360859615958611

In [148]:
# Calculate Jaccard Distance

Similarity12_14 = get_jaccard_sim(x12, x14)
Similarity12_14

0.3365777768913178

In [149]:
# Calculate Jaccard Distance

Similarity12_15 = get_jaccard_sim(x12, x15)
Similarity12_15

0.3222364401882275

In [150]:
# Calculate Jaccard Distance

Similarity13_14 = get_jaccard_sim(x13, x14)
Similarity13_14

0.34067276976180777

In [151]:
# Calculate Jaccard Distance

Similarity13_15 = get_jaccard_sim(x15, x15)
Similarity13_15

1.0

In [153]:
# Calculate Jaccard Distance

Similarity14_15 = get_jaccard_sim(x14, x15)
Similarity14_15

0.34014832179969795

In [161]:
# Generating a dataframe with the scores

Jaccard_Distance = DataFrame({"Artcile 11": [1, 0.94, 0.32, 0.32, 0.31], "Article 12":[0.94, 1.0, 0.33, 0.34, 0.32],
                              "Article 13": [0.32, 0.33, 1.0, 0.34, 1.0], "Article 14": [0.32, 0.34, 0.34, 1.0, 0.34], 
                              "Article 15":[0.31, 0.32, 1.0, 0.34, 1]})

In [163]:
# Adding custom index for the data frame

Jaccard_Distance.set_index([["Article 11", "Article 12", "Article 13", "Article 14", "Article 15"]])

            Artcile 11  Article 12  Article 13  Article 14  Article 15
Article 11        1.00        0.94        0.32        0.32        0.31
Article 12        0.94        1.00        0.33        0.34        0.32
Article 13        0.32        0.33        1.00        0.34        1.00
Article 14        0.32        0.34        0.34        1.00        0.34
Article 15        0.31        0.32        1.00        0.34        1.00

In [175]:
# Importing the necesary libraries

from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

# Method to calculate the cosine similarity using TfidfVectorizer

def get_cosine_sim(*strs): 
    vectors = [t for t in get_vectors(*strs)]
    return cosine_similarity(vectors)
    
def get_vectors(*strs):
    text = [t for t in strs]
    vectorizer = TfidfVectorizer(text)
    vectorizer.fit(text)
    return vectorizer.transform(text).toarray()

In [170]:
# Calling the method tpo calculate cosine similarity

cosine_similarity = get_cosine_sim(x11,x12,x13, x14,x15)

In [171]:
cosine_similarity

array([[1.        , 0.9668386 , 0.90962541, 0.90578348, 0.87862886],
       [0.9668386 , 1.        , 0.94069   , 0.93542414, 0.90928395],
       [0.90962541, 0.94069   , 1.        , 0.94228008, 0.9078827 ],
       [0.90578348, 0.93542414, 0.94228008, 1.        , 0.90558117],
       [0.87862886, 0.90928395, 0.9078827 , 0.90558117, 1.        ]])

In [174]:
# Generating a dataframe with cosine similarity scores


cosineSimilarity = DataFrame({"Artcile 11": [1, 0.97, 0.91, 0.91, 0.88], "Article 12":[0.97, 1.0, 0.94, 0.94, 0.91],
                              "Article 13": [0.91, 0.94, 1.0, 0.94, 0.91], "Article 14": [0.91, 0.94, 0.94, 1.0, 0.91], 
                              "Article 15":[0.88, 0.91, 0.91, 0.91, 1.0]})

cosineSimilarity.set_index([["Article 11", "Article 12", "Article 13", "Article 14", "Article 15"]])

            Artcile 11  Article 12  Article 13  Article 14  Article 15
Article 11        1.00        0.97        0.91        0.91        0.88
Article 12        0.97        1.00        0.94        0.94        0.91
Article 13        0.91        0.94        1.00        0.94        0.91
Article 14        0.91        0.94        0.94        1.00        0.91
Article 15        0.88        0.91        0.91        0.91        1.00